html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
body{
    background-color: #fff;
    font-family: 'Gilroy', sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    color: #070707;
}
html, body{
    scroll-behavior: smooth;
}
h1, h3, p{
    padding: 0;
    margin: 0;
}
a{
    display: inline-block;
    text-decoration: none;
    color: #000;
}
ul,
li{
    margin: 0;
    padding: 0;
    list-style: none;
}
.container{
    max-width: 945px;
    margin: 0 auto;
    padding: 0 15px;
}